.gameBoard {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .3) ;
    font-family: 'Acrom-Medium';
    color: white;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin: 12px;
}
